<component name="ArtifactManager">
  <artifact type="war" name="spring-boot-api-seeding:war">
    <output-path>$PROJECT_DIR$/back/target</output-path>
    <root id="archive" name="spring-boot-api-seeding.war">
      <element id="artifact" artifact-name="spring-boot-api-seeding:war exploded" />
    </root>
  </artifact>
</component>