<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msy.plus.mapper.AttachmentMapper">
    <resultMap id="BaseResultMap" type="com.msy.plus.entity.Attachment">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="category" jdbcType="VARCHAR" property="category"/>
        <result column="oriFileName" jdbcType="VARCHAR" property="oriFileName"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="inputUser" jdbcType="INTEGER" property="inputuser"/>
        <result column="inputTime" jdbcType="TIMESTAMP" property="inputtime"/>
    </resultMap>

</mapper>